@*@{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>*@

@{
    ViewBag.Title = "Online generator of random numbers";
}

<h2>Random number</h2>
<p style="font-size: 2em;">@ViewBag.Number</p>
